@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

html {
  font-family: "Raleway", sans-serif;
}
body {
  /* background-color: #DEEBFF; */
  margin:15px;
}
header {
    
}

#article-logo-et-nav nav{
    display: flex;
    justify-content: flex-end;
}

footer {
  background-color: #f2f2f2;
  display: flex;
}
#section-apropos, #section-hebergement, #section-assistance{
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: space-around;
}

#logo-reservia{
    position: absolute;
    top:60px;
    left:55px;
}

nav ul {
  display: flex;
  list-style-type: none;
  height: 100px;
  margin: 0px;;
  align-items: stretch;
}
nav ul li{
margin: auto;
width:150px;
text-align: center;
padding: 35px;
}

nav ul li:active{
    border-top: solid ;
    border-color: #0065fc;
}
p {

  /* color: #0065FC;
    color: #DEEBFF ;
    color: #F2F2F2; */
}
a {
  color: #000000;
  text-decoration: none;
}

#zonerecherche{
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  height: 50px;
}
#saisie-lieu{
  border-color: #f2f2f2;
width: 235px;
}
#zonerecherche #recherchelieu{
 border-color: #0065fc;
   width: 220px;
  }

#label-avec-logo{
margin: auto;
height: 50px;
width: 50px;
background-color: #f2f2f2;
border-radius: 10px,0px,0px,10px;
align-items: stretch;
}
#label-avec-logo div{
text-align: center;
width: 50px;
font-size: 25px;
display: block;

}
h1 {
}
h2 {
}
article {


}
section {

}
/* Zone paramétrage des arcticles avec vignette
TODO : optimiser selection des éléments 
 */
article.article-activite :nth-child(3) {
}
article.article-activite :nth-child(5) {
}
article.article-activite :nth-child(6) {
}
.fa-search{
    display:none;
}

.fa-star,
.fa-dog,
.fa-money-bill-wave-alt,
.fa-heart,
.fa-child,
.fa-info {
  color: #0065fc;
}
.fa-map-marker-alt, .fa-chart-line {
  color: #000000;
}
.stargrey {
  background-color: #f2f2f2;
}
.logo-bouton {
  background-color: #deebff;
}
.bouton {
  background-color: #0065fc;
  color: #ffffff;
}
.label-avec-logo {
  background-color: #f2f2f2;
}

#article-hebergement {
  display: flex;
  background-color: #f2f2f2;
  padding: 50px, 15px;
  
}
#article-hebergement section {
  margin: 15px;
  padding: 5px;
  width: 245px;
  height: 200px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 4px 4px 5px #838383;
  width: 25%;
}
#article-activite {
  display: flex;
  margin: 0px;
}
#article-activite section {
  margin: 15px;
  padding: 5px;
  width: 245px;
  height: 200px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 4px 4px 5px #838383;
  width: 25%;
}
#aside-hebergement-populaire {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1280px) {
}
