@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
/* Le code css est structuré dans l'odre suivant : Balises structurantes puis définition des propriétés des classes et des div sont définies dans l'ordre d'apparition du flux html puis définition des media querries */
/* Balises structurantes */
html {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}
body {
  margin: 0px;
  padding: 0px;
}
a {
  color: #000000;
  text-decoration: none;
}
header {
  margin-top: 0px;
  margin-left: 2%;
  margin-right: 2%;
  padding-top: 0px;
  top: 0px;
}
main {
  margin-top: 0px;
  margin-left: 2%;
  margin-right: 2%;
  padding-top: 0px;
  top: 0px;
}
footer {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-around;
}
h2 {
  font-weight: bold;
}
h3 {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  font-weight: bold;
}
p {
  font-size: 1em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

/* Elément euro et éléments logo FontAwesome répartis dans toute la page */

.euro {
  font-weight: bold;
}
.stargrey {
  color: #f2f2f2;
}
.starblue {
  color: #0065fc;
}
.fa-dog,
.fa-money-bill-wave-alt,
.fa-heart,
.fa-child,
.fa-info {
  color: #0065fc;
}

/* Tous les éléments nav */
.nav__zonenav {
  display: flex;
  justify-content: flex-end;
  top: 0px;
  margin-right: 215px;
}
.nav__list {
  display: flex;
  margin: 0px;
  flex-direction: row;
  justify-content: flex-end;
}
.nav__element-de-liste {
  width: 160px;
  text-align: center;
  list-style-type: none;
  padding: 35px 15%;
}
#div__logo-reservia {
  margin-left: 55px;
  position: absolute;
  left: 55px;
  width: 160px;
  text-align: center;
  margin: auto;
}
#div__lien-sinscrire {
  position: absolute;
  right: 55px;
  width: 160px;
  text-align: center;
  margin: auto;
  padding: 35px;
  color: #0065fc;
  font-weight: bold;
}
#div__lien-sinscrire a {
  color: #0065fc;
  font-weight: bold;
}
#item__zone-hebergement {
  border-top: solid;
  border-color: #0065fc;
  color: #0065fc;
}

/* Zone de leitmotiv */
#section__leitmotiv h2 {
  font-weight: bold;
  line-height: 0.5em;
  margin-bottom: 0.4em;
}
#section__leitmotiv p {
  font-size: 1em;
  margin-top: 0.2em;
  margin-bottom: 2em;
}

/* Zone de recherche de lieu */
#zonerecherche {
  display: flex;
  height: 50px;
  z-index: 2;
}
#zonerecherche__label {
  height: 50px;
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  border-radius: 14px 0px 0px 14px;
}
#zonerecherche__container-logo {
  text-align: center;
  margin: auto;
  width: 50px;
  font-size: 18px;
  display: block;
  border-width: 1px;
}

#zonerecherche__saisie-lieu {
  border-color: #f2f2f2;
  border-width: 1px;
  border-style: solid;
  width: 235px;
  font-weight: bold;
  padding-left: 18px;
}
.fa-map-marker-alt {
  height: 50px;
  margin: auto;
  text-align: center;
  color: #000000;
}
#zonerecherche__zone-btn-ecran-petit {
  height: 50px;
  background-color: #0065fc;
  border-color: #0065fc;
  color: #ffffff;
  border-radius: 14px;
  display: none;
  position: relative;
  right: 10px;
}
#zonerecherche__btn-ecran-petit {
  display: none;
  z-index: 1;
}
#zonerecherche__container-logo-ecran-petit {
  text-align: center;
  margin: auto;
  width: 50px;
  font-size: 18px;
  display: block;
  border-width: 1px;
}
#zonerecherche__btn-ecran-large {
  border-color: #0065fc;
  width: 132px;
  border-radius: 0px 14px 14px 0px;
  border-style: none;
  background-color: #0065fc;
  color: #ffffff;
  height: 50px;
}
.fa-search {
  height: 50px;
  margin: auto;
  text-align: center;
  text-align: right;
}

/* Zone des filtres */
#filtres__groupe-boutons {
  display: flex;
  align-items: center;
  margin: 1% 0%;
  font-weight: bold;
  margin-top: 20px;
}

.filtres{
  display: flex;
  flex-direction: row;
}
#filtres__titre{
  margin: auto 0px;
}
#filtres__groupe-boutons {
  margin: auto;
}
.bouton {
  border-color: #f2f2f2;
  border-radius: 49px;
  border-style: solid;
  border-width: 2px;
  display: flex;
  margin: 0px 12px;
  z-index: 1;
  margin-top: 10px;
}
.bouton__box-logo {
  position: relative;
  left: -1px;
  top: 0px;
  background-color: #deebff;
  color: #0065fc;
  border-color: #deebff;
  border-radius: 51px;
  width: 51px;
  height: 51px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  z-index: 2;
}
.fa-dog,
.fa-money-bill-wave-alt,
.fa-heart,
.fa-child {
  height: 51px;
  margin: auto;
}

.bouton__box-logo:hover {
  background-color: #cfdcf0;
  border-color: #0065fc;
}
.bouton__box-text {
  margin: auto;
}

.bouton__box-text p {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Zone avec texte d'information */
.zone-info {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 25px;
  margin-top: 20px;
}
.zone-info__logo {
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #f2f2f2;
  text-align: center;
  width: 25px;
  height: 25px;
  margin-right: 12px;
}
.fa-info {
  color: #0065fc;
  font-size: 14px;
  margin: auto;
  text-align: center;
}

/* Zone tous les hebergements */
#section__tousleshebergements {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}
/* Zone hebergement */
#hebergements {
  width: 62%;
  background-color: #f2f2f2;
  border-radius: 25px;
  padding-left: 2%;
  padding-right: 2%;
}
#section__lienafficherplus {
  margin: 20px 2%;
  font-size: 18px;
  font-weight: bold;
}
#hebergements img {
  border-radius: 10px 10px 0px 0px;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 100% 80%;
}
#hebergements h2 {
  margin-top: 50px;
  font-weight: 900;
}

#hebergement__container-carte a {
  flex: 0 0 30%;
}
#hebergement__container-carte {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.carte-hebergement {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 4px 4px 5px #838383;
}

.carte-hebergement__zone-image {
  height: 120px;
}
.carte-hebergement__zone-texte {
  height: 80px;
  /* line-height: 0.3em; */
}

/*Zone aside*/
#hebergements-populaires {
  background-color: #f2f2f2;
  width: 28%;
  padding: 50px, 15px;
  margin-right: 2%;
  margin-left: 2%;
  border-radius: 25px;
}
#hebergements-populaires img {
  border-radius: 10px 0px 0px 10px;
  height: 100%;
  object-fit: cover;
  object-position: 100% 100%;
}

#hebergements-populaires a {
  display: flex;
  flex-direction: column;
}
#hebergements-populaires__zone-titre {
  margin-right: 5%;
  margin-left: 3%;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#hebergements-populaires__zone-titre > div {
  width: 20px;
  margin-top: 0;
  margin-bottom: auto;
}
#hebergements-populaires__zone-titre > h2 {
  flex: 0 0 80%;
  font-weight: 900;
  margin-top: 0px;
}
.fa-chart-line {
  color: #000000;
  font-size: 1.4em;
}

#hebergements-populaires__container a {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}

.carte-hebergement-populaire {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 90%;
  margin: 15px 3%;
  padding: 5px;
  height: 145px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 4px 4px 5px #838383;
}
.carte-hebergement-populaire__zone-image {
  flex: 0 0 34%;
  overflow: hidden;
}

.carte-hebergement-populaire__zone-texte {
  flex: 0 0 60%;
  height: 145px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/*Zone activité */
#section-activite {
  margin: 0px;
}

#activite h2 {
  margin: 50px;
  font-weight: 900;
}
#activite__container-cartes {
  display: flex;
  flex-flow: row wrap;
  margin-left: 2%;
}
#activite__container-cartes-partie1,
#activite__container-cartes-partie2 {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
}
#activite__container-cartes-partie1 a,
#activite__container-cartes-partie2 a {
  display: flex;
  flex-flow: row wrap;
}
#activite__container-cartes-partie1-zonea,
#activite__container-cartes-partie2-zonea {
  width: 50%;
}
#activite__container-cartes-partie1-zoneb,
#activite__container-cartes-partie2-zoneb {
  width: 50%;
  display: flex;
  flex-flow: column;
}

#activite__container-cartes img {
  border-radius: 10px 10px 0px 0px;
}

#activite article {
  margin: 15px;
  padding: 5px;
  border-radius: 10px 10px 10px 10px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 4px 4px 5px #f2f2f2;
}
.activite__affichage-type1 {
  height: 450px;
}
.activite__affichage-type2 {
  height: 240px;
}
.activite__affichage-type3 {
  height: 165px;
}
.activite__affichage-type4 {
  height: 200px;
}
.activite__affichage-type5 {
  height: 210px;
}
.activite__affichage-type1 img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.activite__affichage-type2 img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.activite__affichage-type3 img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.activite__affichage-type4 img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.activite__affichage-type5 img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.activite__affichage-type1 .carte-activite__zone-image {
  height: 390px;
}
.activite__affichage-type2 .carte-activite__zone-image {
  height: 180px;
}
.activite__affichage-type3 .carte-activite__zone-image {
  height: 105px;
}
.activite__affichage-type4 .carte-activite__zone-image {
  height: 140px;
}
.activite__affichage-type5 .carte-activite__zone-image {
  height: 150px;
}

/*Zone footer*/
#section-apropos,
#section-assistance {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: space-around;
}

/* Zonemedia */
@media screen and (max-width: 768px) {
  
  header {
    margin-left: 2%;
    margin-right: 2%;

  }
  main {
    margin-left: 0%;
    margin-right: 0%;
  }
  h3 {
    margin-top: 0.3em;
    margin-bottom: 0.8em;
    line-height: 1.1em;
  }
  p {
    margin-bottom: 0.8em;
  }

  /* Tous les éléments nav */
  .nav__zonenav {
    top: 120px;
    left: 0px;
    margin: 0px;
  }
  .nav__list {
    display: flex;
    margin: 0px;
    flex-direction: row;
    justify-content: stretch;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  .nav__element-de-liste {
    width: 50%;
    padding: 10px;
    margin-top: 60px;
  }
  #li__lien-activite {
    border-bottom: solid;
    border-color: #f2f2f2;
  }

  #item__zone-hebergement {
    border-top: none;
    border-bottom: solid;
    border-color: #0065fc;
  }

  #div__logo-reservia {
    margin-left: 20px;
    top: 10px;
    left: 0px;
  }
  #div__lien-sinscrire {
    right: 0px;
    top: 10px;
    padding: 10px;
  }

  /* Zone de leitmotiv */
  #section__leitmotiv h2 {
    line-height: 1.2em;
  }

  /* Zone de recherche de lieu */
  #zonerecherche__zone-btn-ecran-petit {
    display: block;
  }
  #zonerecherche__btn-ecran-petit {
    display: none;
  }
  #zonerecherche__btn-ecran-large {
    display: none;
  }

  #zonerecherche__container-logo-ecran-petit {
  }
  #zonerecherche__btn-ecran-large {
    display: none;
  }

  /* Zone des filtres */

  .filtres{
    display: flex;
    flex-direction: column;
  }
  #filtres__groupe-boutons {
    display: flex;
    flex-wrap: wrap;
    margin: 12px 0px;
    font-weight: bold;
  }
 
  #filtres__titre{
    margin-top: 30px;
  }

  /* Zone hebergement */
  #section__tousleshebergements {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  /* Zone hebergement */

  #hebergements {
    width: 100%;
    background-color: #ffffff;
    margin-right: 0px;
    border-radius: 0px;
  }

  #hebergement__container-carte {
    flex-direction: column;
  }

  .carte-hebergement {
    width: 93%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .carte-hebergement__zone-texte {
    line-height: 0.3em;
  }

  /*Zone aside*/


  #hebergements-populaires {
    width: 100%;
    /* margin-right: 40px; */
    border-radius: 0px;
    margin-left: 0%;
    margin-right: 0%;
  }
  #hebergements-populaires img {
    border-radius: 10px 0px 0px 10px;
    height: 100%;
    object-fit: contain;
  }

  #hebergements-populaires__zone-titre {
    margin-top: 50px;
  }

  .fa-chart-line {
    position: relative;
    right: 0px;
  }

  .carte-hebergement-populaire {
    width: 93%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  carte-hebergement-populaire__zone-image {
    overflow: hidden;
  }

  /*Zone activité */
  #section-activite {
    margin: 0px;
  }
  #activite__container-cartes {
    display: flex;
    flex-flow: column wrap;
    margin-left: 2%;
  }
  #activite__container-cartes-partie1,
  #activite__container-cartes-partie2 {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
  }
  #activite__container-cartes-partie1 a,
  #activite__container-cartes-partie2 a {
    display: flex;
    flex-flow: column wrap;
  }
  #activite__container-cartes-partie1-zonea,
  #activite__container-cartes-partie2-zonea {
    width: 100%;
  }
  #activite__container-cartes-partie1-zoneb,
  #activite__container-cartes-partie2-zoneb {
    width: 100%;
    display: flex;
    flex-flow: column;
  }

  #activite article {
    margin: 15px;
    padding: 5px;
    border-radius: 10px 10px 10px 10px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 4px 4px 5px #f2f2f2;
  }
  .activite__affichage-type1 {
    height: 200px;
  }
  .activite__affichage-type2 {
    height: 200px;
  }
  .activite__affichage-type3 {
    height: 200px;
  }
  .activite__affichage-type4 {
    height: 200px;
  }
  .activite__affichage-type5 {
    height: 200px;
  }
  .activite__affichage-type1 img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .activite__affichage-type2 img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
  }
  .activite__affichage-type3 img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
  }
  .activite__affichage-type4 img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
  }
  .activite__affichage-type5 img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
  }

  .activite__affichage-type1 .carte-activite__zone-image {
    height: 135px;
  }
  .activite__affichage-type2 .carte-activite__zone-image {
    height: 135px;
  }
  .activite__affichage-type3 .carte-activite__zone-image {
    height: 135px;
  }
  .activite__affichage-type4 .carte-activite__zone-image {
    height: 135px;
  }
  .activite__affichage-type5 .carte-activite__zone-image {
    height: 135px;
  }
  .carte-activite__zone-texte {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  .carte-activite__zone-texte h3 {
    align-self: center;
    margin: auto;
  }
  footer {
    display: flex;
    flex-direction: column;
  }
  #footer__section-a-propos,
  #footer__section-a-assistance,
  #footer__section-a-hebergement {
    margin: 20px;
  }
}
@media screen and (max-width: 1400px) {
  .carte-hebergement__zone-texte {
    height: 120px;
  }
  .carte-hebergement-populaire__zone-texte {
    height: 165px;
  }
  .carte-hebergement-populaire {
    height: 165px;
  }
  }
@media screen and (min-width: 1600px) {
  #activite article {
    margin: 15px 10%;
      }
}

